		    <div class="right-container">
			    <div class="search">
		            <input type="search" name="search"><a class="but-search">搜索</a>
			    </div>
			    <div class="tab" id="tab">
			        <div class="tab-btn">
			        	<div class="on">自采供应商</div>
			        	<div>平台供应商</div>
			        	<div>平台其它供应商</div>
			        </div>
			        <div class="tablebox">
				        <table class="tab1 table">
				        	<thead>
				        	    <tr>
				        	    	<th>供应商名称</th>
				        	    	<th>地址</th>
				        	    	<th>联系人</th>
				        	    	<th>电话</th>
				        	    	<th>操作</th>
				        	    </tr>
				        	</thead>
				        	<tbody>
		                        <tr>
		                        	<td>某某供应商</td>
		                        	<td>某某某</td>
		                        	<td>某某某</td>
		                        	<td>12345678977</td>
		                        	<td>
		                        	    <a href="">明细</a>
		                        	    <a href="">禁用</a>
		                        	</td>
		                        </tr>
		                        <tr>
		                        	<td></td>
		                        	<td></td>
		                        	<td></td>
		                        	<td></td>
		                        	<td></td>
		                        </tr>
				        	</tbody>
				        </table>
			        </div>
			    </div>
			    <div class="page">
	                <a href="">首页</a>
	                <a href="">上一页</a>
	                <a href="" class="none">1/N</a>
	                <a href="">下一页</a>
	                <a href="">尾页</a>
	                <input type="text" name="number">
	                <a href="">GO</a>
	                <a href="" class="none">共23条</a>
			    </div>
		    </div>