* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 100%;
  font-family: "Microsoft Yahei";
  color: #555;
}
.rooter {
  max-width: 960px;
  margin: 0 auto;
}
.top {
  background-color: #019875;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
.top-left,
.top-mid,
.top-right {
  width: 32%;
  float: left;
  text-align: center;
  color: #fff;
}
.top-left {
  text-align: left;
  padding-left: 2%;
}
.top-right {
  text-align: right;
  padding-right: 1%;
}
.top-right a {
  text-decoration: none;
  margin-right: 3%;
  padding: 0 6px;
  font-size: 0.75rem;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border: 1px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.top-menu {
  background-color: #0b1c23;
  overflow: hidden;
}
.top-master {
  width: 16%;
  padding: 10px 1% 8px 1%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  color: #fff;
  border-right: 1px solid #1a3642;
}
.top-master .img {
  width: 75%;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.top-master .img img {
  width: 100%;
}
.top-master p {
  font-size: 0.875rem;
}
.top-nav {
  width: 84%;
  float: left;
  position: relative;
}
.left {
  width: 16%;
  float: left;
  background-color: #0b1c23;
  border-top: 1px solid #1a3642;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.left-nav h3 {
  padding: 10px 0 10px 4%;
  border-bottom: 2px solid #1a3642;
  color: #019875;
  font-size: 1.125rem;
  border-left: 4px solid #019875;
}
.left-nav li {
  list-style: none;
  border-bottom: 1px solid #1a3642;
}
.left-nav .title {
  padding: 8px 0;
  padding-left: 14px;
  font-size: 1rem;
  color: #fff;
}
.left-nav li a {
  display: block;
  text-decoration: none;
  padding: 8px 10px 8px 20px;
  color: #019875;
  font-size: 0.875rem;
}
.left-nav .on a,
.left-nav li a:hover {
  background-color: #1a343e;
}
.right {
  width: 84%;
  float: left;
}
.right-container {
  width: 100%;
  margin: 20px auto;
}
.search {
  height: 30px;
  line-height: 30px;
  margin: 10px 0 15px 5%;
  clear: both;
}
.search div {
  display: inline-block;
}
.search .btn {
  float: right;
  margin-right: 4%;
}
.search button {
  padding: 6px 10px;
  font-size: 0.875rem;
  color: #fff;
  margin: 0 5px;
  background-color: #019875;
  display: inline-block;
  border: 1px solid #fff;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.search button:active {
  background-color: #fff;
  color: #019875;
}
.search input {
  font-size: 1rem;
  height: 30px;
  width: 180px;
  padding: 3px 5px;
  border: none;
  outline: none;
  border: 2px solid #019875;
}
.search .but-search {
  display: inline-block;
  color: #fff;
  font-size: 1.125rem;
  background-color: #019875;
  height: 20px;
  line-height: 20px;
  border: none;
  outline: none;
  padding: 5px 14px 5px 14px;
}
.tab-btn {
  margin-top: 20px;
  overflow: hidden;
}
.tab-btn div {
  float: left;
  border: 1px solid #019875;
  background-color: #019875;
  border-bottom: none;
  color: #fff;
  padding: 5px 8px;
  border-right-color: #fff;
  cursor: pointer;
}
.tab-btn div:last-child {
  border-right-color: #019875;
}
.tab-btn div:hover,
.tab-btn div:active,
.tab-btn .on {
  background-color: #fff;
  color: #019875;
}
.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
  display: none;
}
.tab1 {
  display: table;
}
.table {
  width: 100%;
}
.table thead tr {
  background-color: #eee;
}
.table tbody tr:nth-child(2n) {
  background-color: #eee;
}
.table a {
  color: #019875;
  padding: 3px 2px;
}
.table,
.table th,
.table td {
  border: 1px solid #eee;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
.page {
  margin-top: 20px;
  text-align: center;
}
.page a {
  text-decoration: none;
  border: 1px solid #019875;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  background-color: #019875;
  margin: 0 3px;
  padding: 4px 6px;
  color: #fff;
  font-size: 0.875rem;
}
.page .none {
  background-color: #fff;
  border: none;
  color: #019875;
  padding: 0;
}
.page a:hover,
.page a:active,
.top-right a:hover,
.top-right a:active {
  background-color: #fff;
  color: #019875;
}
.page input,
.page select {
  font-size: 1rem;
  padding: 2px 0;
  text-align: center;
  border: none;
  border: 1px solid #019875;
}
.page input {
  width: 30px;
}
/*一级轮番导航*/
.swiper-container {
  width: 100%;
  height: 100px;
}
.navList {
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
  overflow: hidden;
  text-align: center;
}
.navList li {
  list-style: none;
  float: left;
  width: 17%;
  margin: 0 1.5%;
}
.navList li a {
  list-style: none;
  display: inline-block;
  width: 98%;
  color: #019875;
  border: 1px solid #019875;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 6px 0;
  font-size: 1rem;
}
.navList li a:hover,
.navList .on a {
  border-color: #019875;
  background-color: #fff;
}
.w40 {
  width: 40%;
  float: left;
  margin-left: 5%;
}
.form label {
  font-size: 0.875rem;
  margin-right: 4px;
}
.form input {
  width: 75%;
  font-size: 1rem;
  padding: 5px 2%;
  background-color: #fff;
  border: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.form div {
  margin-bottom: 10px;
}
.form .btnbox {
  text-align: center;
}
.form button {
  text-decoration: none;
  padding: 6px 10px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #019875;
  display: inline-block;
  border: 1px solid #fff;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.form button:active {
  background-color: #fff;
  color: #019875;
}
.textbox {
  overflow: hidden;
  padding: 0 5%;
  margin: 10px 0;
  color: #666;
}
.textbox .text {
  width: 50%;
  float: left;
  margin-left: 10%;
}
.textbox h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.textbox p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 8px 0 8px 0;
}
.textbox .img {
  width: 22%;
  margin-right: 8%;
  float: right;
}
.textbox .img p {
  text-align: center;
}
.textbox img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.r-box {
  margin: 20px 5% 15px 5%;
  text-align: center;
}
.r-box .img {
  width: 50%;
  float: left;
  margin-bottom: 15px;
  overflow: hidden;
}
.r-box img {
  width: 100%;
  max-width: 250px;
}
.r-box .w30 {
  width: 30%;
  max-width: 150px;
  margin-right: 10%;
}
.right-container button {
  text-decoration: none;
  padding: 6px 10px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #019875;
  display: inline-block;
  border: 1px solid #fff;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.right-container button:active {
  background-color: #fff;
  color: #019875;
}
.border-text {
  clear: both;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #eee;
  padding: 10px 0 10px 20px;
  text-align: left;
}
.border-text p {
  line-height: 1.2rem;
  margin: 8px 0;
}
.btnbox {
  text-align: center;
}
.form {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
.form input {
  max-width: 300px;
  text-align: left;
}
.w40 {
  width: 40%;
  margin-left: 5%;
}
.tab .btn {
  overflow: hidden;
}
.tab .btn a {
  display: inline-block;
  float: left;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  border-right: 1px solid #fff;
  color: #fff;
  background-color: #019875;
}
.tab .btn:hover,
.tab .btn:active {
  color: #019875;
  background-color: #fff;
}
.text-center {
  text-align: center;
}
.border-p {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 100px;
  line-height: 100px;
}
.priceform {
  text-align: left;
  width: 80%;
}
.priceform select {
  width: 20%;
  font-size: 1rem;
  padding: 5px 2%;
  background-color: #fff;
  border: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.right-container > p {
  color: #666;
  margin-left: 5%;
  margin-bottom: 10px;
}
.form label {
  display: inline-block;
  width: 60px;
  text-align: right;
}
.form .input-w45 {
  width: 45%;
}
