<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="search">
	    </div>
        <p>XXXX供应商商品明细</p>
        <div class="tab" id="tab">
            <div class="tablebox">
                <table class="tab1 table">
                    <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>条形码</th>
                            <th>价格</th>
                   
       
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XXXXXXX</td>
                            <td>XXXXXXX</td>
                            <td>XXXXXX</td>
          
      
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
   
       
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page">
            <a href="">上一页</a>
            <a href="" class="none">1/N</a>
            <a href="">下一页</a>
            <input type="text" name="number">
            <a href="">GO</a>
            <a href="" class="none">共23条</a>
            <a href="" class="none">每页显示</a>
            <select id="pagenum">
                <option value="10">10条</option>
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
            </select>
        </div>
    </div>
</body>
</html>