<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
        <p>仓库1门店管理</p>
        <div class="tab">
               <table class="tab1 table">
                        <thead>
                            <tr>
                                <th>门店名称</th>
                                <th>地址</th>
                                <th>操作</th>         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>XXXXXXXX</td>
                                <td>XXXXXXXX</td>
                                <td>
                                    <button>修改</button>
                                </td>
                            </tr> 
                            <tr>
                                <td>XXXXXXXX</td>
                                <td>XXXXXXXX</td>
                                <td>
                                    <button>修改</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>       
        </div>
        <div class="form priceform">
            <form action="">
                <div>
                    <label for="">名称:</label><input type="text">
                </div>
                <div>
                    <label>地址:</label>
                    <input type="text">
                </div>
                <div>
                    <label>管理员:</label>
                    <input class="input-w45" type="text">
                </div>
                <div>
                    <label>联系电话:</label>
                    <input type="text">
                </div>
                <div>
                    <label>门店二维码:</label>
                    <input type="file">
                </div>
                <div class="btnbox"><button>保存</button></div>
            </form>
        </div>
    </div>
</body>
</html>