<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
        <p>仓库1配送区域管理</p>
	    <div class="tab" id="tab">
	        <div class="tablebox w40">
		        <table class="tab1 table">
		        	<thead>
		        	    <tr>
		        	    	<th>区域</th>
		        	    	<th>操作</th>
		        	    </tr>
		        	</thead>
		        	<tbody>
                        <tr>
                        	<td>某某某某某某</td>
                        	<td>修改</td>
                        </tr>
                        <tr>
                        	<td>2</td>
                        	<td>dsaf</td>

                        </tr>
                        <tr>
                        	<td></td>
                        	<td></td>
                        </tr>
		        	</tbody>
		        </table>
	        </div>
	        <div class="form w40">
	        	<form action="">
	        	    <div>
	        	        <label for="f_unit">省:</label>
	        	        <select name="" id="">
	        	            <option value="">1</option>
	        	            <option value="">2</option>
	        	        </select>
	        	    </div>
	        	    <div>
	        	        <label for="f_unit">市:</label>
	        	        <select name="" id="">
	        	            <option value="">1</option>
	        	            <option value="">2</option>
	        	        </select>
	        	    </div>
	        	    <div>
	        	        <label for="f_unit">县:</label>
	        	        <select name="" id="">
	        	            <option value="">1</option>
	        	            <option value="">2</option>
	        	        </select>
	        	    </div>
	        	    <div class="btnbox">
		        	    <button type="button">增加</button>
	        	    </div>
	        	</form>
	        </div>
	    </div>
    </div>
</body>
</html>