<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="search">
	        <div>
	            <input type="search" name="search"><a class="but-search">搜索</a>
	        </div>
	        <div class="btn">
	            <button>新增</button><button>修改</button>
	        </div>
	    </div>
	    <div class="tab" id="tab">
	        <div class="tablebox">
		        <table class="tab1 table">
		        	<thead>
		        	    <tr>
		        	    	<th>选择</th>
		        	    	<th>条码</th>
		        	    	<th>名称</th>
		        	    	<th>最高进价</th>
		        	    	<th>最低进价</th>
		        	    	<th>库存量</th>
		        	    	<th>当前进价</th>
		        	    	<th>当前售价</th>
		        	    	<th>累计销量</th>
		        	    </tr>
		        	</thead>
		        	<tbody>
                        <tr>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        </tr>
                        <tr>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                        </tr>
		        	</tbody>
		        </table>
	        </div>
	    </div>
		<div class="page">
            <a href="">上一页</a>
            <a href="" class="none">1/N</a>
            <a href="">下一页</a>
            <input type="text" name="number">
            <a href="">GO</a>
            <a href="" class="none">共23条</a>
            <a href="" class="none">每页显示</a>
            <select id="pagenum">
                <option value="10">10条</option>
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
            </select>
	    </div>
    </div>
</body>
</html>