<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="search">
	        <div>
	            <input type="search" name="search"><a class="but-search">搜索</a>
	        </div>
        </div>
        <p>某某商品批量价格</p>
        <div class="tab">
               <table class="tab1 table">
                        <thead>
                            <tr>
                                <th>开始数量</th>
                                <th>结束数量</th>
                                <th>价格</th>
                                <th>操作</th>          
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>10</td>
                                <td>1</td>
                                <td>删除</td>
                            </tr>
                        </tbody>
                    </table>       
        </div>
        <div class="form priceform">
            <form action="">
                <div>
                    <label>开始数量:</label>
                    <select name="" id="">
                        <option value="">0</option>
                        <option value="">0</option>
                        <option value="">0</option>
                    </select>
                </div>
                <div>
                    <label>结束数量:</label>
                    <select name="" id="">
                        <option value="">不限</option>
                        <option value="">0</option>
                        <option value="">0</option>
                    </select>
                </div>
                <div>
                    <label>价格:</label>
                    <input type="text">
                </div>
                <div class="btnbox"><button>保存</button></div>
            </form>
        </div>
    </div>
</body>
</html>