<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="search">
	        <div>
	            <input type="search" name="search"><a class="but-search">搜索</a>
	        </div>
	    </div>
        <div class="r-box">
            <div class="img w30">
                <img src="/images/03.png" alt=""><br/>
                <div class="btnbox">
                    <button>条码打印</button>
                </div>
            </div>
            <div class="img w50">
                <img src="/images/01.png" alt="">
                <div class="btnbox">
                    <button>条码打印</button>
                </div>
            </div>
            <div class="text border-text">
                <p>名称:<span>盼盼牌华府饼</span></p>
                <p>条码:<span>XXXXXXXXXX</span></p>
                <p>产地:<span>XXXXXXXXXX</span></p>
                <p>价格:<span>7.5元</span></p>
            </div>
            <div class="btnbox"><button>条码打印</button></div>
        </div>
    </div>
</body>
</html>