<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="search">
	        <div>
	            <input type="search" name="search"><a class="but-search">搜索</a>
	        </div>
	    </div>
        <div class="form">
            <form action="">
                <div>
                    <label for="">名称；</label><input type="text">
                </div>
                <div>
                    <label for="">条码；</label><input type="text">
                </div>
                <div>
                    <label for="">产地:</label><input type="text">
                </div>
                <div>
                    <label for="">价格:</label><input type="text">
                </div>
            </form>
        </div>
        <div class="btnbox"><button>更换条码</button></div>
    </div>
</body>
</html>