<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script type='text/javascript' src='../../js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='../../js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
        <div class="form">
            <form action="">
                <div>
                    <label for="">商户名称；</label><input type="text">
                </div>
                <div>
                    <label for="">商户地址；</label><input type="text">
                </div>
                <div>
                    <label for="">经营时间:</label><input type="text">
                </div>
                <div>
                    <label for="">联系人:</label><input type="text">
                </div>
                <div>
                    <label for="">联系电话:</label><input type="text">
                </div>
                <div>
                    <div class="img"><img src="" alt=""></div>
                    <input type="file" name="" value="选择文件">
                </div>
                <div class="btnbox">
                    <button>修改</button>
                    <button>小票设置</button>
                    <button>配送区域</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>