<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
            <div class="text border-text text-center">
                <p>日期:<span>2017-01-01 08:32</span></p>
                <p>单号:<span>12345678911</span></p>
                <p>收营员:<span>张三</span></p>
                <p class='border-p'>这里为购买商品订单信息</p>
                <p>地址:延安某某区某某地110号</p>
                <p>联系电话:1888888888</p>
                <textarea name="welcomword" id="" cols="30" rows="10"></textarea>
                <P>欢迎语最多20字</P>
            </div>

            <div class="btnbox"><button>保存</button></div>
    </div>
</body>
</html>