<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
        <div class="textbox">
            <div class="text">
                <h3>基本信息</h3>
                <p>商户名称:<span>亿家超市</span></p>
                <p>商户地址:<span>延安某某路多少号XXXXX</span></p>
                <p>营业时间:<span>08:00--20:00</span></p>
                <p>联系人姓名:<span>张三</span></p>
                <p>联系人电话:<span>1333333333</span></p>
                <p>联系人邮箱:<span>13333@163.com</span></p>
            </div>
            <div class="img">
                <img src="/images/03.png" alt=""><p>Logo</p>
            </div>
        </div>
        <div class="form">
            <form action="">
                <div class="btnbox">
                    <button>修改</button>
                    <button>小票设置</button>
                    <button>配送区域</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>