<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script type='text/javascript' src='../../js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='../../js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
        <div class="form">
            <form action="">
                <div>
                    <label for="">科目名称；</label>
                    <select name="" id="">科目1
                        <option value="科目1">科目1</option>
                        <option value="科目2">科目1</option>
                        <option value="科目3">科目1</option>
                    </select>
                </div>
                <div>
                    <label for="">日期；</label>
                    <input type="date">               
                </div>
                <div>
                    <label for="">金额:</label><input type="text">
                </div>
                <div class="btnbox">
                    <button>保存</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>