<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>基本信息二级导航</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/js/leftnav.js'></script>
</head>
<body>
    <div class="right-container">
	    <div class="tab" id="tab">
	        <div class="tablebox w40">
		        <table class="tab1 table">
		        	<thead>
		        	    <tr>
		        	    	<th>序号</th>
		        	    	<th>单位</th>
		        	    </tr>
		        	</thead>
		        	<tbody>
                        <tr>
                        	<td>1</td>
                        	<td>dasd</td>
                        </tr>
                        <tr>
                        	<td>2</td>
                        	<td>dsaf</td>

                        </tr>
                        <tr>
                        	<td></td>
                        	<td></td>
                        </tr>
		        	</tbody>
		        </table>
	        </div>
	        <div class="form w40">
	        	<form action="">
	        	    <div>
	        	        <label for="f_unit">单位:</label><input class='input-w45' type="text" id="f_unit" name="f_unit" autocomplete>
	        	    </div>
	        	    <div class="btnbox">
		        	    <button type="button">增加</button>
	        	    </div>
	        	</form>
	        </div>
	    </div>
    </div>
</body>
</html>